
.custom-highlight{background:#be1a8d;color:#fff;text-shadow:-1px 1px 1px #7b115b;}
::-moz-selection{background:#be1a8d;color:#fff;text-shadow:-1px 1px 1px #7b115b;}
::selection{background:#be1a8d;color:#fff;text-shadow:-1px 1px 1px #7b115b;}
textarea{resize:vertical;}
