<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}QUnit Tests{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/qunit.css" media="screen">
  {% block css %}{% endblock %}
<!-- reference your own javascript files here -->
  {% block js %}{% endblock %}

<!-- test runner files -->
  <script src="/static/js/qunit/qunit.js"></script>
  
  {% block test_js %}{% endblock %}

</head>
<body class="flora">
  <h1 id="qunit-header">QUnit Test Suite</h1>
  <h2 id="qunit-banner"></h2>
  <div id="qunit-testrunner-toolbar"></div>
  <h2 id="qunit-userAgent"></h2>
  <ol id="qunit-tests"></ol>
  <div id="qunit-fixture">test markup</div>
  </body>
</html>
